body {
  font-family: sans-serif;
  background: #34495e;
  color: #ecf0f1;
}

h1 {
  text-align: center;
  font-size: 48px;
  padding-top: 10px;
}

.sn_master {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sn_div {
  text-align: center;
}

.sn_logo {
  font-size: 150px;
}

.sn_div a {
  color: #ecf0f1;
  text-decoration: none;
}
