:root {
  --club-color: #99E1D9;
  --informatique-color: #93E5AB;
  --de-color: #E7EB90;
  --hoche-color: #EDDDD4;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: #34495e;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  padding: 0;
  margin: 0;
  top: 0;
}

.headerbg {
  background-image: url("/img/header.png");
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  z-index: 0;
}

header h1 {
  font-size: 72px;
  letter-spacing: 5px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  padding: 30px;
  z-index: 2;
  user-select: none;
  -webkit-user-select: none;
  cursor: text;
}

header > h1 > span#text-Club {
  -webkit-text-stroke: 1px var(--club-color);
}
header > h1.shadowOn > span#text-Club {
  text-shadow: 1px 1px 20px var(--club-color);
}
header > h1 > span#text-Informatique {
  -webkit-text-stroke: 1px var(--informatique-color);
}
header > h1.shadowOn > span#text-Informatique {
  text-shadow: 1px 1px 20px var(--informatique-color);
}
header > h1 > span#text-De {
  -webkit-text-stroke: 1px var(--de-color);
}
header > h1.shadowOn > span#text-De {
  text-shadow: 1px 1px 20px var(--de-color);
}
header > h1 > span#text-Hoche {
  -webkit-text-stroke: 1px var(--hoche-color);
}
header > h1.shadowOn > span#text-Hoche {
  text-shadow: 1px 1px 20px var(--hoche-color);
}

header a {
  background: rgba(255, 255, 255, 0.17);
  border: solid 1px rgba(255, 255, 255, 0.317);
  color: #fff;
  z-index: 2;
  padding: 14px 20px;
  font-size: 20px;
  text-decoration: none;
  transition: .1s;
}

header a:hover {
  background: rgba(255, 255, 255, 0.13);
}

.short_text {
  display: none;
}

main{
  margin-top: 20px;
  margin-bottom: 20px;
  background: #34495e;
  z-index: 2;
}

main section {
  display: flex;
  flex-flow: row;
  background-color: #3d5369;
  padding: 1em;
}

main section:nth-child(n+2) {
  margin-top: 10px;
}

main section .imagediv {
    min-width: 60%;
    min-height: 500px;
    background-size: cover;
    background-position: center left;
}

main section:nth-child(even) .imagediv {
  order: 20;
}

main section .presentation_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

main section .presentation_section p {
  padding-inline: 80px;
  justify-content: space-between;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); 
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar:disabled {
  display: none;
}

@media (max-width: 620px) {
  header {
    height: 20vh;
  }
  
  main section {
    flex-flow: column;
  }

  main section:nth-child(even) .imagediv {
    order: 0;
  }

  main section .presentation_section p {
    padding-inline: 20px;
  }
}


/* SIDE NAV */

.sn_master {
  /*width: 100px;*/
  background-color: #3d5369;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.sn_div {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
  height: 40px;
  width: 40px;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.sn_div a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.sn_div:hover {
  background:#233446;
}

.sn_div img {
  width: 100%;
  height: 100%;
}

.sn_details {
  display: none;
}

@media (max-width: 620px) {
  .long_text {
    display: none;
  }
  .short_text {
    display: block;
  }
}

footer{
  min-height: 50px;
  padding-top: 20px;
  background-color: #34495e;
  text-align: center;
}

.max-limited{
  max-width: 1536px;
  width: 100%;
}

.inscription {
  /*width: 100px;*/
  background-color: #34495e;
  position: fixed;
  display: flex;
  bottom: 20px;
  right: 10px;
  z-index: 10;
  border-radius: 10px;
  border: 1px solid #FFFF;
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.8);
}
.inscription > a {
  margin: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: .2s;
}