body {
  font-family: sans-serif;
  margin: 0;
  background: #34495e;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  align-items: center;
}

header {
  width: 100%;
  height: 80vh;
  padding: 0;
  margin: 0;
  background: url("/img/header.jpg");
  background-position: bottom;
  background-size: cover;
  top: 0;
}

header h1 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  letter-spacing: 5px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 30px;
}

.short_text {
  display: none;
}

main section {
  display: flex;
  flex-flow: row;
}

main section img {
  max-width: 25%;

  box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%), 0 25px 30px 0 rgb(0 0 0 / 35%);
}

main section .presentation_section {
  text-align: center;
}


/* SIDE NAV */

.sn_master {
  background: #34495e;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 8px #000;
}

.sn_div {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
}
.sn_div:hover {
  background:#233446;
}

.sn_div i {
  font-size: 48px;
  color: #fff;
}

.sn_details {
  display: none;
}

@media (max-width: 620px) {
  .long_text {
    display: none;
  }
  .short_text {
    display: block;
  }
}

* {
  max-width: 100%;
}

.max-limited{
  max-width: 1024px;
}