body {
  font-family: sans-serif;
  margin: 0;
  background: #34495e;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  padding: 0;
  margin: 0;
  /*background: url("/img/header.jpg");
  background-position: bottom;
  background-size: cover;*/
  top: 0;
}

.headerbg {
  background-image: url("/img/header.jpg");
  background-position: bottom;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  z-index: 0;
}

header h1 {
  font-size: 72px;
  letter-spacing: 5px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 30px;
  z-index: 2;
}

.short_text {
  display: none;
}

main{
  margin-top: 20px;
  margin-bottom: 20px;
  background: #34495e;
  z-index: 2;
}

main section {
  display: flex;
  flex-flow: row;
  background-color: #3d5369;
  padding: 1em;
}

main section:nth-child(n+2) {
  margin-top: 10px;
}

main section .imagediv {
    min-width: 60%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
}

main section:nth-child(even) .imagediv {
  order: 20;
}

main section .presentation_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

main section .presentation_section p {
  padding-inline: 80px;
  justify-content: space-between;
}

@media (max-width: 620px) {
  header {
    height: 20vh;
  }
  
  main section {
    flex-flow: column;
  }

  main section:nth-child(even) .imagediv {
    order: 0;
  }

  main section .presentation_section p {
    padding-inline: 20px;
  }
}


/* SIDE NAV */

.sn_master {
  background-color: #3d5369;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.sn_div {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
}
.sn_div:hover {
  background:#233446;
}

.sn_div i {
  font-size: 48px;
  color: #fff;
}

.sn_details {
  display: none;
}

@media (max-width: 620px) {
  .long_text {
    display: none;
  }
  .short_text {
    display: block;
  }
}

footer{
  min-height: 50px;
  padding-top: 20px;
  background-color: #34495e;
  text-align: center;
}

.max-limited{
  max-width: 1536px;
  width: 100%;
}
